
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  font-size: 2.5rem;
}

/*<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap" rel="stylesheet">

/*font-family: 'Open Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;*/

/* I don't know how to do the drop down menu*/

html {
  width: 75%;
  background-color: whitesmoke;
  font-size: 0.7rem;
  padding: 2.1rem;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

.historical-context {
  text-align: center;
  margin: auto;
  font-family: 'Open Sans' , sans-serif;
}

/* the buttons need some design!*/

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin: auto;
}

div>p {
  font-family: 'Open Sans' , sans-serif;
  margin: auto;
  padding: 1.1rem;
}

div {
  padding-top: 2em;
}

/*Colors for each html*/
h4 {
  background-color: #11698e;
}