html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: teal;
}

body {
	padding: 1em;
  background-color: #FAF9F6;
}

.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.container h2 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 40px;
}

.container p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 24px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

legend {
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

span {
  font-family: 'Open Sans', sans-serif;
}

.region-group {
  display: grid;
  grid-template-columns: repeat(2, 270px);
	grid-template-rows: repeat(4, 100px);
	grid-auto-rows: 100px;
	grid-gap: 0 px;
}

.meal-group {
  display: grid;
  grid-template-columns: repeat(3, 180px);
	grid-auto-rows: 100px;
	grid-gap: 0 px;
}

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label > input[type="radio"]:checked + * {
  color: teal;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}

/* basic layout */
fieldset {
  margin: 20px;
  max-width: 500px;
  margin: auto;
}

label > input[type="radio"] + * {
  display: inline-block;
  padding: 30px 30px;
}

/*
.form-control {
	margin-bottom: 0.5em;
}

label {
  font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
  font-size: 24px;
}
*/
.get-recipe-button {
  padding-top: 1em;
  padding-bottom: 3em;
  text-align: center;
}

.btn-recipe {
 display:inline-block;
 border: 0.1rem solid gray;
 border-radius: 0.12em;
 margin: auto;
 padding: 10px;
 color: black;
 background-color: #FAF9F6;
 text-align: center;
 transition: all 0.2s;
}

.btn-recipe:hover{
  color: lightgray;
  border-color: lightgray;
}

.btn-clear {
  display:inline-block;
  border: 0.1rem solid gray;
  border-radius: 0.12em;
  margin: auto;
  padding: 10px;
  color: black;
  background-color: #FAF9F6;
  text-align: center;
  transition: all 0.2s;
 }
 
 .btn-clear:hover{
   color: lightgray;
   border-color: lightgray;
 }

.btn-recipe, .btn-clear, .region-group, .meal-group {
	cursor: pointer;
}


#order-summary {
	margin-top: 1em;
	margin-bottom: 1em;
}

.about-img {
  width: 20%;
}

@media (min-width: 320px) and (max-width: 1280px) 
